@font-face {
    font-family: CooperBlack;
    src: url(/CSS/CooperBlackRegular/CooperBlackRegular.ttf);
}
@font-face {
    font-family: PTSans;
    src: url(/CSS/PT_Sans/PTSans-Regular.ttf);
}
@font-face {
    font-family: Kaushan;
    src: url(/CSS/Kaushan_Script/KaushanScript-Regular.ttf);
}
html, body{
    margin: 0%;
    overflow-x: hidden;
    font-family: PTSans;
}
body{
    background-image: url(/CSS/imagenes/chalkboard.jpg);
    color: white;
}
.navBar{
    z-index: 10;
    position:fixed;
    top: 0%;
    width: 100vw;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    color: white;
    /* background: rgb(0,0,10, 0.5) ; */
    background: rgba( 255, 255, 255, 0.09 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 5px;
}
.logo{
    min-width: 30vw;
}
.title h1{
    font-family: CooperBlack;
    font-size: 9.5vw;
    line-height: .9em;
    color: white;
    padding-left: 1.5vw;
    margin: 0%;
    transition: 0.3s;
}
.titleResponsive{
    display:block;
    transition: 0.3s;
}

.navLinks{
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    justify-self: flex-end;
}
.navLinks li,
.navLinks a{
    list-style-type:none;
    text-align: right;
    text-decoration: none;
    color: white;
}
#navLinksUl {
    display: flex;
    flex-direction: column;
    float: right;
    padding: 0%;
    margin: 0%;
    display: none;

}
#responsive{
    align-self: flex-end;
    margin-right: 3vw;
}

.navLinks li:active{
    scale: 1.1;
    text-shadow:
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 7px #fff,
    0 0 15px #ffa,
    0 0 25px #ffa,
    0 0 30px #ffa,
    0 0 37px #ffa,
    0 0 50px #ffa;
}

.home{
    font-family: PTSans;
    display: flex;
    flex-direction: column;
    height: 115vh;
    background-image:url(/CSS/imagenes/IMG_8949\ 2.jpeg);
    background-size: 150vh;
    background-position:bottom;
    justify-content: space-between;
    align-items: center;
}
.zeroPercent{
    font-family: Kaushan;
    font-size: 6rem;
}
.historiaLeft{
    width: 80%;
    height: 35vh;
    display: flex;
    align-items: flex-end;
}
.historiaLeft h2{
    font-size: 7vw;
    margin-bottom: 1vh;
    text-align: justify;
}
.historiaCenter{
    font-family: CooperBlack;
    text-align: center;
    height: 75vw;
    width: 75vw;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 .2rem rgba(255, 255, 255, 0.9),
    0 8px 32px 0 rgba(47, 49, 78, 0.77),
    0 0 .2rem rgba(255, 255, 255, 0.9),
    0 0 2rem #fff,
    0 0 0.8rem rgba(255, 255, 255, 0.9),
    0 0 2.8rem #fff,
    inset 0 0 1.3rem rgba(255, 255, 255, 0.9);
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.historiaCenter h2{
    color:rgba(0, 0, 0, 0.9);
    margin: auto;
    font-size: 7vw;
}
.circle{
    border-radius: 50%;
}
.sombra{
    text-shadow:  -3px 2px rgba(78, 92, 105,0.8);
    /* 0 0 1px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 5px #ffe,
    0 0 9px #ffe,
    0 0 10px #ffe,
    0 0 17px #ffe,
    0 0 20px #ffe; */
}
.historiaRight{
    margin-bottom: 1vh;
    align-self: center;
}
.historiaRight p{
    font-size: 1rem;
}

/* ACCESSIBILITY */
.hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
} 
.razas{
    border-radius: 12px;
    background-color: rgb(0, 0, 1, 0.2);
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 16px 0 rgba(7, 9, 8, 0.77);
    margin: auto;
    /* box-shadow: 0 0 .2rem #fff,
    inset 0 0 .2rem #fff,
    0 0 2rem #4613fe,
    inset 0 0 0.8rem #4613fe,
    0 0 2.8rem #4613fe,
    inset 0 0 1.3rem #4613fe; */
}
.listado{
    height: 100%;
    background-color:rgba(107, 125, 138, 0.01);
}

.listado h2{
    font-family: CooperBlack;
    text-align: center;
    font-size: 10vw;
    margin-bottom: 1rem;
}
.listado li{
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    letter-spacing: 2px;
    text-indent: .5rem;
    text-align:left;
    font-size: 5vw;
    padding: 2vw;
}
.listado li:hover,
.listado li:focus{
    background-color: rgba(8, 10, 8, 0.1);
    box-shadow: 0 0 .2rem rgba(255, 255, 255, 0.9),
    inset 0 8px 32px 0 rgba(47, 49, 78, 0.77),
    inset 0 0 .2rem rgba(255, 255, 255, 0.29),
    inset 0 0 2rem rgba(95, 95, 95, 0.29),
    inset 0 0 0.8rem rgba(255, 255, 255, 0.29),
    inset 0 0 2.8rem rgba(95, 95, 95, 0.29),
    inset 0 0 1.3rem rgba(255, 255, 255, 0.29);
    cursor: pointer;
}
.listado ol{
    border-top: 1px rgba(255, 255, 255, 0.12) solid;
}

/* CARD EXPANDED STATE */
.card{

    border-radius: 12px;
    transition: 1s;
    text-align: center;
    min-height: 85vh;
    margin: auto;
    /*  background-color:rgba(21, 28, 34, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    background: rgba( 255, 255, 255, .029 );
    box-shadow: 0 8px 32px 0 rgba(27, 29, 28, 0.37)
    0 18px 52px 10px rgba(27, 29, 28, 0.37);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.closeBtn{
    position: absolute;
    right: 5%;
    top: 1%;
    font-weight: 900;
}
.cardTitle{
    font-size: 8vw;
    margin: 1%;
}
.cardImg{
    max-width: 70%;
    border-radius: 10px 10px 10px 10px;
}
.cardDescription{
    width: 90%;
}
.indicaSativa{
    display: flex;
    margin: 2%;
}
#indica{
    background-color: hsl(157, 5%, 31%);
}
#sativa{
    background-color: hsl(157, 5%, 11%);
}
.percent20{
    width: 20%;
}
.percent30{
    width: 30%;
}
.percent40{
    width: 40%;
}
.percent50{
    width: 50%;
}
.percent60{
    width: 60%;
}
.percent70{
    width: 70%;
}
.percent80{
    width: 80%;
}
.cardDescription p{
    text-align: justify;
}
.cardIcons{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.iconContainerText{
    margin: 5% 0%;
}
/*  CARD CONTRACTED STATE (ONLY SMALL SCREENS) */
    /* .cardContracted{
    border-radius: 12px;
    transition: 1s;
    text-align: center;
    height: 15vh;
    margin: auto 1em;
    background: rgba( 255, 255, 255, .029 );
    box-shadow: 0 8px 32px 0 rgba(27, 29, 28, 0.37)
    0 18px 52px 10px rgba(27, 29, 28, 0.37);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.closeBtn{
    display: none;
    position: absolute;
    right: 5%;
    top: 1%;
    font-weight: 900;
}
.cardTitleContracted{
    font-size: 6vw;
    margin: 1%;
}
.cardImgContracted{
    max-width: 20%;
    border-radius: 10px 10px 10px 10px;
}
.cardDescription{
    width: 90%;
}
.indicaSativaContracted{
    display: none;
    margin: 2%;
}
#indica{
    background-color: #0fa;
    width: 30%;
}
#sativa{
    background-color: tomato;
    width: 70%;
}
.cardDescription p{
    text-align: justify;
}
.cardIcons{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.iconContainerText{
    margin: 5% 0%;
}
 */

        /*               CONOCENOS             */
.conocenos{
    height: 140vh;
    padding-block: 10%;
}
.conocenosCard{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#nico{
    flex-direction: column;
}
.conocenosCardImg{
    align-self: center;
    width: 40vw;
    height: 40vw;
}

.conocenosCardDescription{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em 2em;
}
.conocenosCardDescription h2{
    text-align: center;
    font-size: 8vw;
    margin: 0em;
}
.conocenosCardDescription p{
    text-align: justify;
    letter-spacing: 1.5px;
    font-size: 1rem;
    line-height: 1.5em;
}
/*                      CONTACTO                  */
.contacto{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contacto h3{
    font-size: 5vw;
    margin: 0%;
}
.neon{
    margin: 0em 0em;
    font-size: 6vw;
    letter-spacing: 3px;
    transform: skewy(-8deg) skewX(-18deg);
    border: 1px rgba(255, 208, 0, 0.8) solid;
    box-shadow: 0 0 .15rem #fff,
    0 0 .18rem rgb(248, 243, 166),
    0 0 1.9rem rgb(248, 243, 166),
    0 0 0.8rem rgb(248, 243, 166),
    0 0 2.9rem rgb(248, 243, 166),
    inset 0 0 1.1rem rgb(248, 243, 166);
    animation: pulse 1.9s ease-in-out infinite alternate;
}
.neon h2{
    margin: .2rem .5rem;
    font-family: PTSans;
}
.formulario{
    display: flex;
    justify-content: center;
    width: 95vw;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid white;
    width: 70%;
}
input{
    width: 75%;
    margin: 0%;
    font-size: 1.2rem;
    border: none;
}
::placeholder{
    font-size: 1rem;
    text-indent: .4em;
}
button{
    color: white;
    background-color: rgb(2, 4, 8);
    border: none;
    font-size: 1.2em;
    width: 25%;
}
button:hover{
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
button:active{
    outline: 1px white solid;
    outline-offset: 5px;
}
.redes{
    display: flex;
    flex-direction: row;
}
.redes a{
    color: white;
    margin: 1em;
}
/*                                    FOOTER                                    */
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vh;
    width: 100vw;
    background-color: rgba( 255, 255, 255, .029 );
}
.datosDesarrollador{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}
.datosDesarrollador h5{
    text-align: center;
    margin: 0%;
}
.redesDesarrollador{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.redesDesarrollador a{
    margin: 0%;
    color: blanchedalmond;
}
.datosClub{
    width: 50%;

}

@media (min-width: 800px) {


    /*                                    HEADER / NAV                                   */
    /* header{    display: none;} */
    .title{
        display: flex;
        flex-direction: column;
        padding-left: 1vw;
    }
    .title h1{
        padding: 0em;
        font-size: 7.5vw;
    }
    #responsive{
        display: none;
    }
    .navLinks{
        width: 50vw;
        margin-right: 1vw;
    }
    #navLinksUl{
        margin: 0em 1em;
        padding: 0em;
        display: inherit;
        align-self: flex-end;
    }
    .navLinksLi{
        line-height: 140%;
        font-size: 3vw;
        transition: 0.3s;
    }
    .navLinks li:hover{
        scale: 1.1;
        text-shadow:
        0 0 2px #fff,
        0 0 3px #fff,
        0 0 7px #fff,
        0 0 15px #ffa,
        0 0 25px #ffa,
        0 0 30px #ffa,
        0 0 37px #ffa,
        0 0 50px #ffa;
        animation: flicker-1 1s ease-in-out infinite alternate;
    }
/*                                        MAIN                                      */

    /*                   HOME                    */
    .home{
        flex-direction: row;
        height: 130vh;
        background-size: 100vw;
        justify-content: center;
    }
    .historiaLeft{
        height: 60vh;
        width: 30vw;
        align-self: flex-start;
        margin-top: 20vh;
    }
    .historiaLeft h2{
        font-size: 4.5vw;
        line-height: 5rem;
        text-align: left;
    }
    .historiaCenter{
        margin-top: 35vh;
        height: 32vw;
        width: 32vw;
    }
    .historiaCenter h2{
        font-size: 4vw;
    }
    .historiaRight{
        height: 30vh;
        width: 30vw;
        margin-bottom: 5vh;
        align-self: flex-end;
    }
    .historiaRight p{
        font-size: 1.4vw;
        line-height: 2rem;
    }
/* .description{
    text-align: center;
    width: 50%;
    z-index: 1;

} */
    /*                         RAZAS                       */
    .razas{
        border-radius: 12px;
        background-color: rgb(0, 0, 1, 0.2);
        height: 95vh;
        width: 80vw;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 90vh;
        grid-template-areas: "listado card";
        margin: 2% auto;
        box-shadow: 0 4px 16px 0 rgba(7, 9, 8, 0.77),
        0 0 .2rem rgb(2, 2, 5),
        0 0 2rem rgb(7, 9, 4),
        0 0 0.8rem rgb(7, 1, 5),
        0 0 2.8rem rgb(7, 9, 4);
    }
    .listado{
        height: 100%;
        min-width: 50%;
        grid-area: listado;
        background-color:rgba(107, 125, 138, 0.01);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .listado h2{
        font-family: CooperBlack;
        text-align: center;
        font-size: 3vw;
        margin-bottom: 1rem;
    }
    .listado ol{
        margin-left: 3vw;
    }
    .listado li{
        border-bottom: 1px solid white;
        letter-spacing: 2px;
        text-indent: .4em;
        text-align:left;
        font-size: 1.8vw;
        margin: .1rem auto;
        padding: 3%;
    }
    .listado li:hover{
        background-color: rgba(8, 10, 8, 0.1);
        text-decoration: underline;
    }
    #razasCard{
        display: flex;
        flex-direction: column;
    }
    .cardRazas{    
        background-color:rgba(21, 28, 34, 0.01);
        grid-area: card;
        display: flex;
    }
    .card{
        text-align: center;
        height: 90%;
        width: 75%;
        margin: auto;
        margin-top: 5%;
        background: rgba( 255, 255, 255, 0.05 );
        box-shadow: 0 8px 32px 0 rgba(27, 29, 28, 0.37);
        backdrop-filter: blur( 7.0px );
        -webkit-backdrop-filter: blur( 7.0px );
        border-radius: 10px;
}
    .cardTitle{
        font-size: 2.2rem;
}
    .cardImg{
        max-width: 65%;
        margin: 0% auto;
        border-radius: 10px 10px 0px 0px;
        /* box-shadow: 0 8px 32px 0 rgba(67, 69, 68, 0.37); */
    }
    .cardDescription{
        align-self: flex-start;
        min-height: 9rem;
        width: 70%;
        margin: 0% auto;
        box-shadow: 0 8px 32px 0 rgba(67, 69, 68, 0.37);
    }
    .card span{
        margin: 1em;
        margin-top: 1em;
        padding: 1em;
    }
    .cardDescription p{
        margin: auto;
        padding: .2em;
        width: 90%;
    }
    .cardIcons{
        padding: 1%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .indicaSativa{
        display: flex;
        margin: 0%;
    }
    .indicaSativa span{
        padding: 0%;
        margin: 0%;
    }

    .closeBtn{
        display: none;
    }

    /*                      CONOCENOS                        */

    .conocenos{
        height: 100vh;
        width: 100vw;
        padding-block: 0px;
    }
    .conocenosCard{
        flex-direction: row;
        justify-content: flex-start;
        padding: 0% 8%;
    }
    .conocenosCard:hover{
        box-shadow: 0 8px 32px 0 rgba(67, 69, 68, 0.07); ;
    }
    #nico{
        flex-direction: row-reverse;
    }
    .conocenosCardImg{
        width: 20vw;
        height: 20vw;
        margin: 0% 5%;
    }
    .conocenosCardDescription{
        width: 40vw;
        margin: auto 2em;
    }
    .conocenosCardDescription h2{
        text-align: inherit;
        font-size: 2.6em;
    }
    .conocenosCardDescription p{
        align-self: flex-start;
        letter-spacing: 1.6px;
        font-size: 1.3em;
    }
    /*                   CONTACTO              */

    .contacto{
        height: 100vh;
        justify-content: space-evenly;
    }
    .contacto h3{
        margin-top: 3rem;
        margin-bottom: 0%;
    }
    .neon{
        margin: 1em 0em;
        font-size: 4.5vw;
    }
    .neon h2{
        margin: .2em .5em;
    }

    form{
        border: 3px solid white;
        border-radius: 4px;
    }

    /*                                    FOOTER                                    */
    footer{
        display: flex;
        flex-direction: row;
        height: 15vh;
        width: 100vw;
    }
    .datosDesarrollador{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .datosDesarrollador h5{
        text-align: center;
    }
    .redesDesarrollador{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .redesDesarrollador a{
        margin: 1.5em;
        color: blanchedalmond;
    }
    .datosClub{
        width: 50%;

    }
    
}
@keyframes pulse {
    /* ----------------------------------------------
 * Generated by Animista on 2021-8-16 19:37:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flicker-1
 * ----------------------------------------
 */
 
    0%,
    100% {
        box-shadow: 0 0 .1rem #fff,
        0 0 .3rem rgba(248, 243, 166, 1),
        0 0 2.1rem rgba(248, 243, 166, 1),
        0 0 0.9rem rgba(248, 243, 166, 1),
        0 0 2.9rem rgba(248, 243, 166,1 ),
        inset 0 0 1.5rem rgb(248, 243, 166,1 );
    }
    41.99% {
        box-shadow: 0 0 .1rem #fff,
        0 0 .1rem rgba(248, 243, 166, .1),
        0 0 1.9rem rgba(248, 243, 166, .1),
        0 0 0.7rem rgba(248, 243, 166, .1),
        0 0 2.7rem rgba(248, 243, 166,.1 ),
        inset 0 0 1.2rem rgb(248, 243, 166, .1 );    }
    42% {
        box-shadow: 0 0 .1rem #fff,
        0 0 .1rem rgba(248, 243, 166, 1),
        0 0 1.9rem rgba(248, 243, 166, 1),
        0 0 0.7rem rgba(248, 243, 166, 1),
        0 0 2.7rem rgba(248, 243, 166,1 ),
        inset 0 0 1.2rem rgb(248, 243, 166,1 );    }
    43% {
        box-shadow: 0 0 .1rem #fff,
        0 0 .1rem rgba(248, 243, 166, .1),
        0 0 1.9rem rgba(248, 243, 166, .1),
        0 0 0.7rem rgba(248, 243, 166, .1),
        0 0 2.7rem rgba(248, 243, 166,.1 ),
        inset 0 0 1.2rem rgb(248, 243, 166, .1 );    }
    43.01% {
        box-shadow: 0 0 .1rem #fff,
        0 0 .1rem rgba(248, 243, 166, 1),
        0 0 1.9rem rgba(248, 243, 166, 1),
        0 0 0.7rem rgba(248, 243, 166, 1),
        0 0 2.7rem rgba(248, 243, 166,1 ),
        inset 0 0 1.2rem rgb(248, 243, 166,1 );    }
    47.99% {
        box-shadow: 0 0 .1rem #fff,
        0 0 .1rem rgba(248, 243, 166, .1),
        0 0 1.9rem rgba(248, 243, 166, .1),
        0 0 0.7rem rgba(248, 243, 166, .1),
        0 0 2.7rem rgba(248, 243, 166,.1 ),
        inset 0 0 1.2rem rgb(248, 243, 166, .1 );    }
    48% {
        box-shadow: 0 0 .1rem #fff,
        0 0 .1rem rgba(248, 243, 166, 1),
        0 0 1.9rem rgba(248, 243, 166, 1),
        0 0 0.7rem rgba(248, 243, 166, 1),
        0 0 2.7rem rgba(248, 243, 166,1 ),
        inset 0 0 1.2rem rgb(248, 243, 166,1 );    }
    49% {
        box-shadow: 0 0 .1rem #fff,
        0 0 .1rem rgba(248, 243, 166, .1),
        0 0 1.9rem rgba(248, 243, 166, .1),
        0 0 0.7rem rgba(248, 243, 166, .1),
        0 0 2.7rem rgba(248, 243, 166,.1 ),
        inset 0 0 1.2rem rgb(248, 243, 166, .1 );    }
    49.01% {
        box-shadow: 0 0 .1rem #fff,
        0 0 .1rem rgba(248, 243, 166, 1),
        0 0 1.9rem rgba(248, 243, 166, 1),
        0 0 0.7rem rgba(248, 243, 166, 1),
        0 0 2.7rem rgba(248, 243, 166,1 ),
        inset 0 0 1.2rem rgb(248, 243, 166,1 );    }
  }
  @keyframes flicker-1 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 0.5;
    }
    42% {
      opacity: 1;
    }
    43% {
      opacity: 0.5;
    }
    43.01% {
      opacity: 1;
    }
    47.99% {
      opacity: 1;
    }
    48% {
      opacity: 0.5;
    }
    49% {
      opacity: 0;
    }
    49.01% {
      opacity: 1;
    }
  
  
    to{
        text-shadow: 0 0 .1rem #fff,
        0 0 .1rem rgb(248, 243, 166),
        0 0 1.9rem rgb(248, 243, 166),
        0 0 0.7rem rgb(248, 243, 166),
        0 0 2.7rem rgb(248, 243, 166),
        inset 0 0 1.2rem rgb(248, 243, 166);
    }
}