@font-face {
    font-family: CooperBlack;
    src: url(/CSS/CooperBlackRegular/CooperBlackRegular.ttf);
}
@font-face {
    font-family: PTSans;
    src: url(/CSS/PT_Sans/PTSans-Regular.ttf);
}
@font-face {
    font-family: Kaushan;
    src: url(/CSS/Kaushan_Script/KaushanScript-Regular.ttf);
}
html, body{
    margin: 0%;
    overflow-x: hidden;
    font-family: PTSans;
}
body{
    background-image: url(/CSS/imagenes/chalkboard.jpg);
    color: white;
}
.navBar{
    z-index: 10;
    position:fixed;
    top: 0%;
    width: 100vw;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    color: white;
    /* background: rgb(0,0,10, 0.5) ; */
    background: rgba( 255, 255, 255, 0.09 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 5px;
}
.logo{
    min-width: 30vw;
}
.title h1{
    font-family: CooperBlack;
    font-size: 9.5vw;
    line-height: .9em;
    color: white;
    padding-left: 1.5vw;
    margin: 0%;
    transition: 0.3s;
}
.titleResponsive{
    display:block;
    transition: 0.3s;
}

.navLinks{
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    justify-self: flex-end;
}
.navLinks li,
.navLinks a{
    list-style-type:none;
    text-align: right;
    text-decoration: none;
    color: white;
}
#navLinksUl {
    display: flex;
    flex-direction: column;
    float: right;
    padding: 0%;
    margin: 0%;
    display: none;

}
#responsive{
    align-self: flex-end;
}

.navLinks li:active{
    scale: 1.1;
    text-shadow:
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 7px #fff,
    0 0 15px #ffa,
    0 0 25px #ffa,
    0 0 30px #ffa,
    0 0 37px #ffa,
    0 0 50px #ffa;
}

@media (min-width: 800px) {
.zeroPercent{
    font-family: Kaushan;
    font-size: 4em;
}

/*                                    HEADER / NAV                                   */
/* header{    display: none;} */
.title{
    display: flex;
    flex-direction: column;
    padding-left: .5rem;
}
.title h1{
    padding: .0em;
    font-size: 8vw;
}
#responsive{
    display: none;
}
.navLinks{
    width: 50vw;
}
#navLinksUl{
    margin: 0em 1em;
    padding: 0em;
    display: inherit;
    align-self: flex-end;
}
.navLinksLi{
    line-height: 140%;
    font-size: 3vw;
    transition: 0.3s;
}
.navLinks li:hover{
    scale: 1.1;
    text-shadow:
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 7px #fff,
    0 0 15px #ffa,
    0 0 25px #ffa,
    0 0 30px #ffa,
    0 0 37px #ffa,
    0 0 50px #ffa;
}
/*                                        MAIN                                      */

/*                   HOME                    */
.home{
    display: flex;
    flex-direction: row;
    height: 140vh;
    background-image:url(/CSS/imagenes/IMG_8949\ 2.jpeg);
    background-size: 100vw;
    justify-content: center;
}
.historiaLeft{
    height: 60vh;
    width: 30vw;
    font-family: PTSans;
    align-self: flex-start;
    margin-top: 35vh;
}
.historiaLeft h2{
    font-size: 2.7em;
    text-align: justify;
}
.historiaCenter{
    font-family: CooperBlack;
    text-align: center;
    margin-top: 40vh;
    height: 30vw;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.8);
    align-self: center;
    box-shadow: 0 8px 32px 0 rgba(47, 49, 78, 0.77);
    display: flex;
    flex-direction: column;
}
.historiaCenter h2{
    color:rgba(0, 0, 0, 0.9);
    margin: auto;
    font-size: 2.5em;
}

.historiaRight{
    font-family: PTSans;
    height: 30vh;
    width: 30vw;
    margin-bottom: 5vh;
    align-self: flex-end;
}
.historiaRight p{
    font-size: 1.2em;
}
.circle{
    border-radius: 50%;
    /* box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #fff,
    0 0 0.8rem #fff,
    0 0 2.8rem #fff,
    inset 0 0 1.3rem #fff; */
}

.description{
    text-align: center;
    width: 50%;
    z-index: 1;

}
/*                         RAZAS                       */
.razas{
    border-radius: 12px;
    background-color: rgb(0, 0, 1, 0.2);
    height: 95vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 90vh;
    grid-template-areas: "listado card";
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    align-content: center;
    box-shadow: 0 4px 16px 0 rgba(7, 9, 8, 0.77);
    /* box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #4613fe,
    0 0 0.8rem #4613fe,
    0 0 2.8rem #4613fe,
    inset 0 0 1.3rem #4613fe; */
}
.listado{
    height: 100%;
    min-width: 50%;
    grid-area: listado;
    background-color:rgba(107, 125, 138, 0.01);
}

.listado h2{
    font-family: CooperBlack;
    text-align: center;
    font-size: 2.9em;
    margin-bottom: 1em;
}
.listado ol{
    margin-left: 1.5em;
}
.listado li{
    /* display: flex;
    flex-direction: column;
    list-style: none; 
    width: 12em;
    padding: .5em 1em;
    background-color: rgba(128, 142, 155,0.4);
    border-radius: 12px;*/
    border-bottom: 1px solid white;
    letter-spacing: 2px;
    text-indent: .4em;
    text-align:left;
    font-size: 1.5em;
    margin: .9em auto;
}
.listado li:hover{
    background-color: rgba(8, 10, 8, 0.1);
    text-decoration: underline;
}
#razasCard{
    display: flex;
    flex-direction: column;
}
.cardRazas{    
    background-color:rgba(21, 28, 34, 0.01);
    grid-area: card;
    display: flex;
}
.card{
    border-radius: 12px;
    text-align: center;
    height: 90%;
    width: 72%;
    margin: auto;
    margin-top: 5%;
    /*  background-color:rgba(21, 28, 34, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba(27, 29, 28, 0.37);
    backdrop-filter: blur( 7.0px );
    -webkit-backdrop-filter: blur( 7.0px );
    border-radius: 10px;
    
}
.cardTitle{
    font-size: 2.2em;
    margin-top: 2%;
    margin-bottom: 0%;
}
.cardImg{
    max-width: 72%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 0%;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 8px 32px 0 rgba(67, 69, 68, 0.37);
}
.cardDescription{
    height: 9em;
    width: 72%;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 5%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 8px 32px 0 rgba(67, 69, 68, 0.37);
}
.card span{
    margin: 1em;
    margin-top: 1em;
    padding: 1em;
}
.cardDescription p{
    text-align: justify;
    margin: auto;
    padding: .2em;
    width: 90%;
}
.cardIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*                      CONOCENOS                        */

.conocenos{
    height: 100vh;
    width: 100vw;
}
.conocenosCard{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0% 8%;
}
.conocenosCard:hover{
    box-shadow: 0 8px 32px 0 rgba(67, 69, 68, 0.07); ;
}
#nico{
    flex-direction: row-reverse;
}
.conocenosCardImg{
    align-self: center;
    width: 20vw;
    height: 20vw;
    margin: 0% 5%;
}
.conocenosCardDescription{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 2em;
}
.conocenosCardDescription h2{
    font-size: 2.6em;
    margin: 0em;
}
.conocenosCardDescription p{
    align-self: flex-start;
    letter-spacing: 1.6px;
    font-size: 1.3em;
    line-height: 1.5em;
}
/*                   CONTACTO              */

.contacto{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.contacto h3{
    margin-top: 3em;
    margin-bottom: 0%;
}
.neon{
    margin: 1em 0em;
    font-size: 5em;
    letter-spacing: 3px;
    transform: skewy(-9deg) skewX(-20deg);
    border: 1px rgb(255, 208, 0) solid;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem rgb(248, 243, 166),
    0 0 2rem rgb(248, 243, 166),
    0 0 0.8rem rgb(248, 243, 166),
    0 0 2.8rem rgb(248, 243, 166),
    inset 0 0 1.3rem rgb(248, 243, 166);
}
.neon h2{
    margin: .2em .5em;
    justify-self: start;
    font-family: PTSans;
}
.formulario{
    display: flex;
    justify-content: center;
    width: 90vw;
    margin: 0em 0em 3em 0em;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid white;
    border-radius: 4px;
}
input{
    width: 40em;
    height: 2.5em;
    margin: 0%;
    font-size: 1.2em;
    border: none;
}
::placeholder{
    font-size: 1.1em;
    text-indent: .4em;
}
button{
    color: white;
    background-color: rgb(2, 4, 8);
    border: none;
    font-size: 1.2em;
    width: 5em;
}
button:hover{
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    scale: 1.02;
}
.sombra{
    text-shadow:  -6px 3px rgba(128, 142, 155,0.8);
}
.redes{
    display: flex;
    flex-direction: row;
}
.redes a{
    color: white;
    margin: 1em;
}
/*                                    FOOTER                                    */
footer{
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100vw;
}
.datosDesarrollador{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.datosDesarrollador h5{
    text-align: center;
}
.redesDesarrollador{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.redesDesarrollador a{
    margin: 1.5em;
    color: blanchedalmond;
}
.datosClub{
    width: 50%;

}

    
}